body {
  margin: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', 'Helvetica Neue', 'Roboto', 'Oxygen', 'Droid Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
